@charset "utf-8";

/* CSS 파일을 만들어 리셋(초기화) 처리를 해줍니다. */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "맑은 고딕";
    font-size: 14px;
}

/* 여기서부터 와이어프레임코딩 시작입니다! */
#box{
    width: 1200px;
    /* position이 static 상태의 박스 가운데 정렬 */
    margin:0px auto;
    /* border: 1px solid red; */
}

.head_box{
    width: 1200px;
    height: 100px;
    background: red;
}

.logo{
    width: 250px;
    height: 100%;  
    float: left;  
    background: chartreuse;
}

.navi{
    width: 950px;
    height: 100%;
    float: right;
    background: skyblue;    
}

.navi > ul{
    display: inline;
    font-size: 0;
}

.navi > ul > li{
    /* 인라인화된 메인 메뉴의 li을 블록 속성을 줄 수 있게 inline-block 지정함 */
    display: inline-block;
    /* 서브 메뉴를 메인 메뉴 아래에 가두기 위해 position: relative 지정함 */
    position: relative;
    width: 300px;
    height: 80px;
    text-align: center;
}

/* a 태그로 링크걸린 메인메뉴 글자 꾸미기 */
.navi > ul > li > a{
    /* 박스 배경색 지정을 위해 display:block 설정함 */
    display: block;
    /* 메인 메뉴 상하 높이 지정함 */
    line-height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    /* 전환 효과를 1초 동안 a 태그에 적용해 줌 */
    transition: all 1s;
}

/* a 태그로 링크걸린 메인 메뉴에 마우스 오버시 글자 꾸미기 */
.navi > ul > li:hover > a {
    text-decoration: underline;
    background: chartreuse;
    /* 전환 효과를 1초 동안 a 태그에 적용해 줌 */
    transition: all 1s;
    color: cornsilk;
}

/* 서브 메뉴 박스 */
.menu_box{
    /* 메인메뉴 영역 안에서 움직이기 위해 position:absolute 지정함 */
    position: absolute;
    height: 160px;
    background: blueviolet;
    /* 화면 로딩 시 보이지 않게 설정 */
    display: none;
    /* 박스 레이어가 겹칠 경우 노출 순서 우선순위 지정함 */
    z-index: 10;
}

.menu_box > li {
    /* 메인메뉴와 서브메뉴 정렬을 맞추기 위해 동일한 width값 지정함 */
    width: 300px;
    height: 40px;
}

/* a태그로 링크걸린 서브 메뉴 글자 꾸미기 */
.menu_box > li > a {
    display: block;
    font-size: 15px;
    color: black;
    background: blanchedalmond;
    /* 서브 메뉴 상하 높이 지정함 */
    line-height: 40px;
    /* 전환효과 적용 */
    transition: all 1s;
}

/* a태그로 링크걸린 서브 메뉴에 마우스 오버시 글자 꾸미지 */
.menu_box > li:hover > a{
    background: chartreuse;
    font-weight: bold;
    /* 전환효과 적용 */
    transition: all 1s;
}

.slide_box{
    width: 1200px;
    height: 300px;
    background: tomato;    
    /* 헤더 박스 자식들의 float 해제 */
    clear: both;  
    /* 앞서 float 사용 후 float 해제할 경우 반드시 다음 요소에서 */
    /* float를 해제해 줘야 함. 해제는 보통 clear:both; 를 사용함 */
    overflow: hidden;
    position: relative;
}

/* 슬라이드가 구현될 이미지 영역 코딩 */
.slide_box > img{
    /* 부모 박스(.slide_box) 안에서 동작하도록 position: absolute 설정함 */
    position: absolute;
    /* 박스 사이즈에 맞도록 width:100% 설정함 */
    width: 100%;
    height: 100%;

}

.content_box{
    width: 1200px;
    height: 200px;
    background: green;
}

.notice_box{
    width: 400px;
    height: 100%;
    background: yellow; 
    float: left;
}

.banner_box{
    width: 400px;
    height: 100%;
    background: olive;
    float: left;
}

.icon_box{
    width: 400px;
    height: 100%;
    background: skyblue;
    float: left;
}

.footer_box{
    width: 1200px;
    height: 100px;
    background: blue;
    /* 컨텐츠 박스 자식들의 float 해제 */
    clear: both;  
    /* 앞서 float 사용 후 float 해제할 경우 반드시 다음 요소에서 */
    /* float를 해제해 줘야 함. 해제는 보통 clear:both; 를 사용함 */
}

.down_logo{
    width: 250px;
    height: 100%;
    background: burlywood;
    float: left;
}

.copyright{
    width: 700px;
    height: 100%;
    background: cadetblue;
    float: left;
}

.sns{
    width: 250px;
    height: 100%;
    background: lightcoral;
    float: left;
}